.container-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    margin: 8px;
}

.inputcustom{
    background:#ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 6px 8px;
    outline: none;
    width: 100%;
    /* width: 200px; */
}



.clear-selected-button{
    margin-bottom: 20px !important;
}
.clear-search-button{
    margin-bottom: 20px !important;
}
