.container-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box {
    margin: 8px;
}
.container-form input{
    outline: none;
    background:#ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
    padding: 6px 8px;
}

.container-form select{
    outline: none;
    background:#ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
    padding: 7px 8px;
}
