.btn_material{
    padding: 10px;
    background: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    /* width: 100%; */
    transition: .2s;
    margin-top: 20px;
}
.btn_material:hover{
    background: var(--alternative-color );
    transition: .2s;
}