.inputModal{
    outline: none;
    background:#ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding:5px 3%;
    /* text-transform: uppercase; */
    width: 90%;
    height: 30px;
}