.btnenvcorreo{
    padding: 10px;
    background: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    width: 50px;
    transition: .2s;
    /* margin-top: 20px; */
}
.btnenvcorreo:hover{
    background: var(--alternative-color );
    transition: .2s;
}
