.scroll-1 {
    /* display: block; */
    /* border: 1px solid; */
     height:100px;
    /* width:100px; */
     overflow: scroll;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

.content-table tbody tr:hover{
    background: var(--alternative-color);
    cursor: pointer;
  }


