.container-input-dates-ver-pedido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap:8px;
    margin: 40px;
}
.section-verpedido-table{
    padding-left: 10px;
    padding-right: 10px;

}
.container-radius-ver-pedido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto, 1fr);
    align-self: center;
    justify-self: center;
}
.container-input-ver-pedido-moneda{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap:8px;
}
.container-input-ver-pedido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap:20px;
    align-self: center;
    justify-self: center;
}

.div-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

